{% extends 'templates/app.twig' %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1 class="title container">{{ block('title') }}</h1>
  </div>
  <div class="container">
    <p>{{ data.content|raw }}</p>
    <br>
    <p>Refer to the documentation of <a href="https://www.slimframework.com/">Slim</a>, <a href="https://laravel.com/docs/5.8/eloquent">Eloquent</a>, <a href="https://twig.symfony.com/">Twig</a> and <a href="https://getbootstrap.com/">Bootstrap</a> for instructions.</p>
  </div>
{% endblock %}
